timeline {
	background-color: alpha(currentColor, .1);
	border-radius: 6px;
}

.timeline-selection {
	background-color: @blue_1;
	border-radius: 6px;
}

.timeline-position {
	background-color: @blue_5;
	min-width: 2px;
}

.timeline-handle {
	background-color: @blue_1;
	padding: 0 4px;
	min-width: 7px;
}

.timeline-handle:focus {
	background-color: @blue_3;
}

.dots {
	background-color: @blue_4;
	min-width: 4px;
	min-height: 4px;
	border-radius: 4px;
}

.timeline-handle:focus .dots {
	background-color: @blue_1;
}

.crop-region {
	/* outline: 2px solid @view_fg_color; */
	border: 2px solid alpha(@view_fg_color, 2);
}

.crop-handle {
	outline: 5px solid alpha(@view_fg_color, 2);
	outline-offset: 0;
	background-color: alpha(@view_fg_color, 2);
	border-radius: 10px;
	padding: 0;

	min-width: 0.1px;
	min-height: 0.1px;
}

.crop-handle:focus {
	outline: 8px solid @blue_3;
	background-color: @blue_3;
}

.property box.title .title {
	font-weight: 400;
	font-size: 9pt;
	opacity: 0.55;
}

.property .subtitle {
	font-size: inherit;
	opacity: 1;
}


.unit-drop .menu contents {
	min-width: 0px;
}
